# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore

.idea
/sys-temp/
/files/
/vendor/
/images/
/styles/
composer.phar

/templates/PROJECT/public/html/*
/classes/system/*
/classes/vendor/*
