# environment files
.idea
**/.DS_Store
.env
docker-compose.override.yml
/id_vl

# track only using classes
classes/**/*
classes/components/*

classes/components/data/
classes/components/users/
!/classes/components/trainings/
!classes/components/**/custom*

!/classes/components/custom.php

# uploads
/files/

# libraries
/vendor/

# all styles except icons
styles/**/
!styles/skins/modern/design/img/tree/

# umi installation files
sys-temp/
*.ini
images/
templates/.htaccess
templates/PROJECT/public/html/*
.htaccess
index.php
install.php
installer.php
installed
install.log
standalone.php
umi.nginx.conf