# environment files
.idea
.vscode
**/.DS_Store
.env

# docker environment files
docker-compose.override.yml
docker/nginx/configs/conf.d/*
docker/nginx/ssl/*
docker/mysql/db/*

# track only using classes
classes/**/*
classes/components/*

classes/components/data/
classes/components/users/
!/classes/components/trainings/
!classes/components/**/custom*

!/classes/components/custom.php

# uploads
/files/

# libraries
/vendor/

# all styles except icons and mce customs
styles/**/
!styles/skins/modern/design/img/tree/
!styles/common/js/cms/wysiwyg/tinymce47/plugins/*
!styles/common/js/cms/wysiwyg/tinymce47/tinymce_custom.css
!styles/common/js/cms/wysiwyg/tinymce47/tinymce_custom.js

# umi installation files
sys-temp/
/*.ini
images/
templates/.htaccess
templates/PROJECT/public/html/*
.htaccess
index.php
install.php
installer.php
installed
install.log
standalone.php
umi.nginx.conf